{
  "presets": ["next/babel"],
  "plugins": [
    ["react-native-web", {
      "commonjs": true
    }],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "react-native": "react-native-web"
      }
    }]
  ]
}