{
  "presets": [
    "next/babel",
    "@babel/preset-flow"
  ],
  "plugins": [
    ["react-native-web", {
      "commonjs": true,
      "moduleNames": [
        "react-native",
        "@react-native",
        "react-native-svg"
      ]
    }],
    "@babel/plugin-transform-flow-strip-types"
  ]
}